<!-- //carouse -->
<!-- //carouse -->

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/assets/img/hero-carousel/a.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block ">
        <h2 class="text-white">VISION</h2>
        <p class="text-white">Some representative placeholder content for the third slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/assets/img/hero-carousel/b.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block " >
        <h2 class="text-white">MISION</h2>
        <p class="text-white">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique, exercitationem..</p>
      </div>
    </div>
    <div class="carousel-item">

      <img src="assets/assets/img/hero-carousel/c.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block ">
        <h2 class="text-white">Valores</h2>
        <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, illo..</p>
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- //fin de carousel -->


<!-- //fin de carousel -->


<!-- //formulario-conoce-acerca -->
<div id="contact" class="contact-area">
  <div class="contact-inner area-padding">
    <div class="contact-overly"></div>
    <div class="container ">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline text-center">
            <h2>CONTACTO</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- Start contact icon column -->
        <div class="col-md-4">
          <div class="contact-icon text-center">
            <div class="single-icon">
              <i class="bi bi-phone"></i>
              <p>
                Call: +1 5589 55488 55<br>
                <span>Lunes a Viernes (9am-5pm)</span>
              </p>
            </div>
          </div>
        </div>
        <!-- Start contact icon column -->
        <div class="col-md-4">
          <div class="contact-icon text-center">
            <div class="single-icon">
              <i class="bi bi-envelope"></i>
              <p>
                Email: dogfood@gmail.com<br>
                <span>Web: www.dogfood.com</span>
              </p>
            </div>
          </div>
        </div>
        <!-- Start contact icon column -->
        <div class="col-md-4">
          <div class="contact-icon text-center">
            <div class="single-icon">
              <i class="bi bi-geo-alt"></i>
              <p>
                Direccion: Calle falsa # 123<br>
                <span>COLOMBIA</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
      </div>
      <!-- End Google Map -->

      <!-- Start  contact -->
      <div class="col-md-12">
        <div class="form contact-form">
          <form action="forms/contact.php" method="post" role="form" class="php-email-form">
            <div class="form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Nombre" required>
            </div>
            <div class="form-group mt-3">
              <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
            </div>
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Tema" required>
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" rows="5" placeholder="Mensaje" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Su mensaje se envío muchas gracias!</div>
            </div>
            <div class="text-center"><button type="submit">ENVIAR</button></div>
          </form>
        </div>
      </div>
      <!-- End Left contact -->
    </div>
  </div>
</div>
<!-- //fin formulario-conoce-acerca -->
